.block {
  position: relative;
}

.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.options {
  background: var(--listbox-bg);
  position: absolute;
  z-index: 10000;
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
}

.optionsBottom {
  top: 100%;
}

.optionsTop {
  bottom: 100%;
}

.item {
  padding: 10px 20px;
}

.active {
  cursor: pointer;
  background: var(--inverted-primary-color);
}

.selected {
  cursor: auto;
  background: var(--inverted-primary-color);
  opacity: 0.8;
  pointer-events: none;
}

.disabled {
  cursor: auto;
  opacity: 0.6;
  pointer-events: none;
}
