.app.dark {
  --bg-color: #08023a;
  --inverted-bg-color: #c3c3c5;
  --primary-color: #19fc4a;
  --secondary-color: #0b9e17;
  --inverted-primary-color: #0f0688;
  --inverted-secondary-color: #4e5cac;
}
