:root {
  // .app.light {
  --bg-color: #c3c3c5;
  --inverted-bg-color: #08023a;
  --primary-color: #0f0688;
  --secondary-color: #2b3da5;
  --inverted-primary-color: #19fc4a;
  --inverted-secondary-color: #0b9e17;

  // skeleton colors
  --skeleton-color: #9d9ca7;
  --skeleton-shadow: #6d76a0;

  // code
  --code-bg: #d9d9e6;

  // card
  --card-bg: #a6a6ad;
}
