.app-orange-theme {
  --bg-color: #fbf8f4;
  --inverted-bg-color: #e79600;
  --primary-color: #d68800;
  --secondary-color: #faa209;
  --inverted-primary-color: #222121;
  --inverted-secondary-color: #464543;
}
