.app-orange-theme {
  --bg-color: #fbf8f4;
  --inverted-bg-color: #af7200;
  --primary-color: #d83d00;
  --secondary-color: #ff5918;
  --inverted-primary-color: #302a2a;
  --inverted-secondary-color: #6b665d;

  // skeleton colors
  --skeleton-color: #ff5918;
  --skeleton-shadow: #d83d00;
}
