.block {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.dropdown,
.navLinks {
  margin-left: auto;
  display: flex;
  gap: 12px;
}

.appName {
  width: var(--sidebar-width);
  margin-left: 15px;
}
